.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
  width: 100%;
  height: 4rem;
}

.header__text {
  color: var(--white-color);
  font-size: 1.5rem;
}
