.about-page {
  padding: 1rem;
}

.about-page .title {
  color: var(--white-color);
  font-size: 5rem;
}

.about-page .links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}
