@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --primary-font: "Roboto", Helvetica, sans-serif;
  --base-font-size: 16px;
  --primary-color: #16213e;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}